 <div class="row">
   <div class="col-md-8">
     <div class="media">
       <div class="media-body">
         <h2 class="media-heading"><%= @user.email %></h2>
         <small>
           <%= pluralize(@user.wikis.count, 'wiki') %>
         </small>
       </div>
     </div>
   </div>
 </div>

 <h2>Wikis</h2>
 <% @user.wikis.each do |wiki| %>
 <p><%= link_to wiki.title, wiki %> </p>
 <% end %>
 
 
<% if current_user.standard? %>
<%= link_to "Upgrade Account to Premium", new_charge_path, class: "btn btn-success" %>
<% end%>
<% if current_user.premium? %>
<%= link_to "Downgrade Account", charges_downgrade1_path, class: 'btn btn-danger',data: { confirm: "Are you sure? all your private wikis will be public" } %>
<% end %>